/* Classes That require centering */
.hero, .form-container, .hide-forms-container, .page-header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Page Headers */
.page-header{
    width: 100vw;
    margin-bottom:1rem;
}

/* Task Styling 

/* Form Styling */
form{
    padding: 2rem;
    border: 1px solid;
    box-shadow: 1rem 1rem 5px;
    border-radius: 5px;
    margin-bottom:1rem;
}

/* Hide Forms */
.hide-forms-container{
    width: 100vw;
}


.hide-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    width: 75vw;
    border: 1px solid;
    box-shadow: 1rem 1rem 5px;
}

.hide-forms-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.navbar-brand, h2, .hero-text{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.5rem;
}

.hero{
    height: 25vh;
    width: 100vw;
    text-transform: uppercase;
}

/* container for the add task button */
.add-task-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
/* .is-urgent{
    border: 1px solid rgb(5, 240, 95);
    box-shadow: 3px 3px 3px rgb(35, 156, 5);
    text-transform: uppercase;
} */

.urgent-task{
    margin-bottom: 2rem;
    border: 1px solid black;
    box-shadow: 1rem 0.5rem 3px black;
    width: 65%;
    padding: 1rem;
}
/* Task Container */
.task-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion{
    width: 50%;
}

/* Registration Form */
.form-container{
    width:100vw;
    height:auto;
}