{% extends 'base.html'%}
{% block content %}
<section>
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There Was an error, please try again!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <h1> Register An Account. </h1>
    <form method="POST">
        {% csrf_token %}
        {{form}}

        <input type="submit" value="Submit">
    </form>
</section>
{% endblock %}