{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Manage Your Tasks</h1>
    </div>
</section class='hero'>
<div class="task-container">
    {% for task in tasks %}
    {% if task.urgency == True %}
    <div class="task">
        <h3> {{ task.title }}</h3>
        <p> {{ task.description }} </p>
        <p> {{ task.due_date}}</p>
        <p> This task is urgent! </p>
        <a href="/edit/{{ task.id }}">
            <button class="btn btn-secondary">Edit This Item</button>
        </a>
        <a href="/toggle/{{ task.id }}">
            <button class="btn btn-secondary">Change Urgency Status</button>
        </a>
        <a href="/delete/{{ task.id }}">
            <button class="btn btn-secondary">Delete</button>
        </a>
    </div>
    {% else %}
    <div class="task">
        <h3> {{ task.title }}</h3>
        <p> {{ task.description }} </p>
        <p> {{ task.due_date}}</p>
        <p> This task is not urgent! </p>
        <a href="/edit/{{ task.id }}">
            <button class="btn btn-secondary">Edit This Item</button>
        </a>
        <a href="/toggle/{{ task.id }}">
            <button class="btn btn-secondary">Change Urgency Status</button>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
<a href="/add-task"><button class="btn btn-success">Add A Task </button></a>
{% endblock %}