{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="add-task-container">
    <a href="/add-task"><button class="btn btn-dark">Add A Task </button></a>
</div>
<div class="task-container">
    {% for task in tasks %}
    <div class="urgent-task">
        {% if task.urgency == True %}
        <h5 class="card-title">{{ task.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ task.due_date }}</h6>
        <p class="card-text">{{ task.description }}</p>
        <p class="card-text">This Task Is Urgent</p>
        <a href="/delete/{{ task.id }}"><span class="badge badge-dark">Delete Task</span></span></a>
        <a href="/toggle/{{ task.id }}"><span class="badge badge-light">Toggle Urgency</span></a>
    </div>
    {% else %}
</div>
<div class="urgent-task">
    <h5 class="card-title">{{ task.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ task.due_date }}</h6>
    <p class="card-text">{{ task.description }}</p>
    <p class="card-text">This Task Is Not Urgent</p>
    <a href="/delete/{{ task.id }}"><span class="badge badge-dark">Delete Task</span></span></a>
    <a href="/toggle/{{ task.id }}"><span class="badge badge-light">Toggle Urgency</span></a>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="hide-forms-container">
    <div class="hide-forms">
        <div class="hide-forms-header">
            <h2>You need to login to view tasks!</h2>
        </div>
        <div class="hide-forms-body">
            Login to your account or register for an account today!
        </div>
        <div class="hide-forms-links">
            <a href="{% url 'register_user' %}">
                <button class="btn btn btn-light"> Register Today </button>
            </a>
            <a href="{% url 'login' %}">
                <button class="btn btn btn-dark"> Login </button>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}